<div class="container text-center">
    <h1>Add Question</h1>

    <form method="post" enctype="multipart/form-data" class="add-question">
        Question:<br>
        <input class="question" type="text" name="question"><br>
        Choices (separated by a comma and space):<br>
        <input class="choices" type="text" name="choices"><br>
        Answer:<br>
        <input class="answer" type="text" name="answer"><br>
        YouTube Link (use the embed link and add "?autoplay=1" minus the quotes):<br>

        <input class="youtube-link" type="text" name="youtubeLink">

        <br>

        <input type="submit" value="Submit">
    </form>
</div>