{{#if user}}
username: {{user.username}}
<a href="/logout">LogOut</a>
{{/if}}



<div class="container text-center">
    <h3>Turn off ad blocker for smoothest experience</h3>

    <button class="btn btn-primary login-buttons">
        <a href="/login">Login</a>
    </button>
    <button class="btn btn-primary login-buttons">
        <a href="/register">Register</a>
    </button>

    <br>
    <img src="./assets/don.jpg" alt="Vito Corleone">
    <img src="./assets/sonny.jpg" alt="Sonny Corleone">

</div>