<div class="container text-center">
	<h1>Profile Page</h1>

	{{#if user}}
	<p>username: {{user.username}}</p>
	{{/if}}
	<div class="buttons">
		<button class="btn btn-success"><a href="/add-question">Add Question</a></button>
		<button class="btn btn-danger delete">Delete Account</button>
	</div>


	{{!-- <form action="/newFormation" method="post">
		<input type="text" name="name" value="Formation">
		<input type="submit" value="Submit">
	</form> --}}

	{{#each formations}}
	<ul>
		<li><a href="/formation/{{this._id}}">{{this.name}}</a></li>
	</ul>
	{{/each}}

	<div>
		<button class="btn btn-danger"><a href="/question/0">Play</a></button>
	</div>
	<div class="table">
		<h1>Scores</h1>
		<div class="scores"></div>
	</div>
</div>

<script>

	function getUsers(callback) {
		$.ajax({
			type: "GET",
			url: "/accounts",
			success: callback,
			dataType: "json",
			contentType: "application/json"
		});

	}

	function appendScores(users) {
		console.log(users)
		users.forEach(user => {
			$('.scores').append(`<p><span style="font-family:Impact, Charcoal, sans-serif">${user.username}</span>: ${user.points}</p>`);
		})
	}
	getUsers(appendScores)

	$('.delete').on('click', (e) => {
		function getId(callback) {
			$.ajax({
				type: "GET",
				url: "/get-id",
				success: callback,
				dataType: "json",
				contentType: "application/json"
			});
		}

		function deleteAccount(id) {
			$.ajax({
				type: 'DELETE',
				url: `/account/${id}`,
				success: alert('deleted'),
				dataType: 'json',
				contentType: 'application/json'
			})
		}
		getId(deleteAccount);
	})



</script>