body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00b7ff; */
  color: white;
}

.buttons {
  margin-bottom: 10px;
}

.question {
  margin-bottom: 10px;
}
