body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /* color: #00b7ff; */
  color: white;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.scores {
  list-style-type: none;
  

}

.buttons {
  margin-bottom: 10px;
}

.question {
  margin-bottom: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}

.login-buttons {
  margin-bottom: 10px;
}